<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="HeyCoder.MvcPager" type="HeyCoder.Web.Mvc.Pager.PagerConfig,HeyCoder.Web.Mvc.Pager" />
  </configSections>
  
  
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<!--HeyCoder.MvcPager全局配置文件--><HeyCoder.MvcPager>
    <add key="PageSize" value="10" />
    <add key="PageButtonCount" value="5" />
    <add key="PagerClassName" value="pager" />
    <add key="PrePageButtonText" value="&lt;" />
    <add key="NextPageButtonText" value="&gt;" />
    <add key="PreGroupButtonText" value="&lt;&lt;" />
    <add key="NextGroupButtonText" value="&gt;&gt;" />
    <add key="FirstPageButtonText" value="首页" />
    <add key="LastPageButtonText" value="尾页" />
    <add key="ShowPagerStatus" value="true" />
    <add key="ShowPreNextPageButton" value="true" />
    <add key="ShowFirstLastPageButton" value="false" />
    <add key="ShowGotoPanel" value="true" />
    <add key="ShowDataCount" value="true" />
    <add key="CurrentPageInCenter" value="true" />
    <add key="DataCountTextFormat" value="共{0}条数据" />
    <add key="PagerStatusTextFormat" value="共{1}页" />
  </HeyCoder.MvcPager></configuration>
